html {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 7%;
    height: 40px;
    border-bottom: 1px solid #DDDDDD;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.navbar-section {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar-section:hover {
    border-bottom: 1px solid black;
}

#home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;
    border-bottom: 1px solid #DDDDDD;
    background-color: rgb(255, 255, 255);
}

#main-header {
    font-weight: bold;
    font-size: 4vw;
}

#buy-button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#buy-button:hover {
    background-color: rgb(61, 61, 61);
}

#section1-img {
    display: block;
    width: 30vw;
}


/* Products section */
#products-section {
    padding: 25px 15%;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F7F7F7;
}

.section-header {
    font-size: 2.5vw;
    font-weight: bold;
}

.products-imgs {
    width: 15vw;
    transition: filter 0.2s ease;
}

.img-label-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vw;
}

.img-download-container {
    position: relative;
}

.download-label {
    position: absolute;
    text-decoration: none;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 98;
    font-weight: 400;
}

.img-download-container:hover .download-label {
    opacity: 1;
}

.img-download-container:hover .products-imgs {
    filter: blur(2px) opacity(0.7);
}

.img-label-prop {
    font-weight: bold;
}

#products-imgs-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    gap: 60px;
}


/* Feedback (third) section */
#feedback-section {
    padding: 25px 15%;
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
}

#feedbacks-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.author-feedback-img {
    width: 60px;
}

.feedback-text {
    text-align: center;
}


/* Contacts (fourth) section */
#contacts-section {
    padding: 25px 15%;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F7F7F7;
}

#contacts-text {
    text-align: center;
    font-size: medium;
}

.author-img-contacts-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

#author-submit-form-container {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#form {
    width: 60%;
}

.form-labels {
    font-size: small;
}

#email {
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

#message {
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 2% 2%;
    width: 90%;
    height: 150px;
    resize: none;
}

#submit-button {
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 130px;
    height: 35px;
    background-color: white;
    cursor: pointer;
}

/* Last section */
#last-section {
    padding: 10px 0px;
    text-align: center;
    background-color: #bcbbbb;
}

#phone-img {
    width: 20px;
}

#mobile {
    display: none;
    justify-content: center;
    align-items: center;
}

/* Mascot */
@keyframes mascot-welcome {
    0% {top: 15%; left: 2%;}
    50% {top: 30%; left: 50%;}
    100% {top: 15%; left: 100%;}
}

@keyframes rotating {
    0% {top: 30%; left: 100%;}
    50% {top: 50%; left: 50%; transform: rotate(360deg);}
    100% {top: 50%; left: -5%; transform: rotate(0deg);}
}

@keyframes upside-down {
    0% {top: 90%; left: 0%; transform: rotate(180deg);}
    100% {top: 90%; left: 100%; transform: rotate(180deg);}
}

@keyframes jumping {
    0% {top: 100%; left: 100%;}
    25% {top: 90%; left: 75%;}
    50% {top: 100%; left: 50%;}
    75% {top: 90%; left: 25%;}
    100% {top: 100%; left: -5%;}
}

@keyframes welcome {
    0% {top: 15%; left: 10%;}
    50% {top: 30%; left: 50%;}
    100% {top: 15%; left: 90%;}
}

#mascot-container {
    position: absolute;
    display: inline-block;
    top: -100%;
    left: -100%;
    animation: mascot-welcome 5s ease, 
               rotating 5s ease 7s,
               upside-down 5s ease 14s,
               jumping 5s ease 21s,
               welcome 10s ease 28s infinite alternate;
}

#mascot {
    display: block;
    z-index: 99;
    width: 5vw;
}

#mascot-dialog {
    position: absolute;
    display: none;
    width: 7vw;
    left: 50%;
    top: 0%;
}

#mascot-container:hover #mascot-dialog {
    display: block;
}


/* Mobile styles */
@media screen and (max-width: 500px) {    
    /* Home section adaptation */
    .navbar-section {
        font-size: 4.5vw;
    }

    #home-section {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    #section1-img {
        width: 70%;
    }

    #main-header {
        font-size: 9vw;
    }

    /* Products section adaptation */
    .section-header {
        font-size: 6vw;
    }

    .products-imgs {
        width: 30vw;
    }

    .img-label-container {
        font-size: 5vw;
    }

    #products-imgs-container {
        justify-content: center;
        gap: 15px;
    }

    .download-label {
        font-size: 3vw;
    }

    /* Feedback section adaptation */        
    .author-feedback-img {
        width: 10vw;
    }

    .feedback-text {
        font-size: 3.5vw;
    }

    /* Contacts section adaptation */    
    #contacts-text {
        font-size: 3.5vw;
    }    

    #form {
        width: 100%;
    }

    #email {
        width: 100%;
    }
    
    #message {
        width: 100%;
    }

    #submit-button {
        width: 50%;
        
    }

    #mobile {
        display: flex;
    }

    #desktop {
        display: none;
    }

    /* Mascot adaptation */
    #mascot {
        width: 15vw;
    }
    
    #mascot-dialog {
        position: absolute;
        display: none;
        width: 22vw;
        left: 50%;
        top: 0%;
    }
    
}