html {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    min-width: 1000px;
}

#navbar {
    display: flex;
    gap: 45px;
    height: 40px;
    border-bottom: 1px solid #DDDDDD;
    align-items: center;
    padding-left: 200px;
}

.navbar-section {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar-section:hover {
    border-bottom: 1px solid black;
}

#home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
    border-bottom: 1px solid #DDDDDD;
}

#main-header {
    font-weight: bold;
    font-size: 50px;
}

#buy-button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#buy-button:hover {
    background-color: rgb(61, 61, 61);
}

#section1-img {
    display: block;
    width: 400px;
}


/* Products section */
#products-section {
    padding: 25px 200px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F7F7F7;
}

.section-header {
    font-size: 30px;
    font-weight: bold;
}

.products-imgs {
    width: 250px;
}

.products-imgs:hover {
    filter: grayscale(100%) opacity(0.7);
}

.img-label-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.img-label-prop {
    font-weight: bold;
    font-size: 20px;
}

#products-imgs-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


/* Feedback (third) section */
#feedback-section {
    padding: 25px 200px;
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
}

#feedbacks-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.author-feedback-img {
    width: 60px;
}

.feedback-text {
    text-align: center;
}